# Python
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# Coverage reports
coverage.xml

# Build directories
build/

# Distribution packages
dist/

# Pip cache
pip-wheel-metadata/

# Environment variable files
.env

# IDE specific files
.idea/

# Python egg files
*.egg
